#fourimage {
  .row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  img {
    box-shadow: 0 10px 10px #ec5353c3, 0 15px 15px #ec5353c3;
  }

  .img-fluid {
    max-height: 100%;
    transition: transform 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}
